// Vars
$blue: #0084bf;
$green: #0c8996;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

// General Settings
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  background: $blue;
  background-image: linear-gradient(45deg, $blue, $green);
  margin-bottom: 20px;
  height: 100px;
}

#top-logo {
  position: absolute;
  left: 0px;
  width: 52px;
  height: auto;
  margin: 25px;
  cursor: pointer;
}

.header-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 55px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.risk-selector-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.risk-selector-header {
  display: flex;
  flex-direction: column;
}

.risk-selector-header-title {
  font-size: 20px;
}

.risk-selector-header-labels {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.risk-selector-buttons-list {
  display: flex;
}

.risk-selector-button {
  height: 56px;
  width: 62px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  font-size: 27px;
  font-weight: 500;
  cursor: pointer;
}
