// Colors
$blue: #0084bf;
$green: #0c8996;
$yellow: rgb(230, 255, 63);
$grey: #e9e9e9;

// Generals
$grey-border: 1px solid $grey;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");

// General Settings
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  background: $blue;
  background-image: linear-gradient(45deg, $blue, $green);
  margin-bottom: 20px;
  height: 100px;
}

#top-logo {
  position: absolute;
  left: 0px;
  width: 52px;
  height: auto;
  margin: 25px;
  cursor: pointer;
}

.header-title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 55px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.risk-selector-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.risk-selector-header {
  display: flex;
  flex-direction: column;
}

.risk-selector-header-title {
  font-size: 20px;
}

.risk-selector-header-labels {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.risk-selector-buttons-list {
  display: flex;
}

.risk-selector-button {
  height: 56px;
  width: 62px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  font-size: 27px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  &.active {
    background-color: $yellow;
  }
}

.risk-selector-button.blue-button {
  width: fit-content;
  font-size: 17px;
  font-weight: 600;
  background-color: #73d0ff;
  &:disabled {
    opacity: 0.4;
  }
}

.risk-level-table-container {
  display: flex;
  justify-content: center;
}

#risk-level-table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

#risk-level-table td,
#risk-level-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#risk-level-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#risk-level-table tr:hover {
  background-color: #ddd;
}

#risk-level-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f9f9f9;
  color: black;
}

#risk-level-table tr.active {
  background-color: $yellow;
}

.risk-level-chart-container {
  display: flex;
  justify-content: center;
}

.risk-level-info-container {
  width: 720px;
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 25px auto;
}

.toggle-info {
  position: absolute;
  top: 0;
  right: -75px;
}

.donut {
  background: url("/images/donutlogo.png") center/cover no-repeat;
}

.table {
  background: url("/images/chartlogo.jpg") center/cover no-repeat;
}

.risk-calculator-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 700px;
  margin: auto;
}

.risk-calculator-title {
  font-size: 28px;
  font-weight: bold;
  align-self: center;
}

.risk-selected-info {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.risk-calculator-rebalance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.risk-calculator-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 17px;
  background: white;
  border: $grey-border;
  border-radius: 2px;
}

.risk-calculator-input-labels {
  display: grid;
  grid-template-columns: 270px 105px 115px 1fr;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  background: #f9f9f9;
  border-bottom: $grey-border;
  span:nth-child(1) {
    margin-right: 60px;
  }
  span:nth-child(2) {
    margin-right: 30px;
  }
  span:nth-child(3) {
    margin-right: 11px;
  }
}

.risk-calculator-main {
  position: relative;
}

.risk-calculator-main-row {
  display: grid;
  grid-template-columns: 130px 95px 95px 95px;
  grid-column-gap: 15px;
  margin: 10px;
}

.risk-calculator-main-input {
  height: 27px;
  width: 95px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
}

.risk-calculator-transfers {
  position: absolute;
  right: 15px;
  top: 10px;
  height: 179px;
  width: 170px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  overflow-y: scroll;
  li {
    margin: 5px 0;
  }
}

input:disabled {
  border: 1px solid grey;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
